@font-face {
    font-family: 'GiloryBlack';
    src: url("materials/GiloryBlack.ttf");
}   

.open-window-add_currency {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
}

.open-window-add_currency-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    padding: 20px 20px;
    background-color: RGB(62, 75, 82);
    display: flex;
    flex-direction: column;
    border-radius: 40px;
}

.close-window-add_currency {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1em;
    font-weight: 600;
    text-decoration: none;
}

.open-window-add_currency:target {
    display: block;
}


.open-window-add_currency-input1 {
    border: none;
    background: none;
    color: #d3d3d3;
    text-align: left;
    font-size: 1.5em;
    margin-top: 20px;
    cursor: pointer;
    font-family: GiloryBlack, serif;
}

.open-window-add_currency-content-container-text {
    color: #d3d3d3;
    font-size: 1.5em;
}

.open-window-add_currency-input {
    font-size: 1.5em;
    margin-top: 20px;
    width: 80%;
    border-radius: 15px;
    padding: 5px;
    margin-bottom: 10px;
    background: none;
    border-color: #d3d3d3;
    color: #d3d3d3;
    font-family: GiloryBlack, serif;
}

.open-window-add_currency-input-option {
    font-family: GiloryBlack, serif;
    color: #d3d3d3;
    background-color: RGB(62, 75, 82);
}

.open-window-add_currency-content-header {
    text-align: center;
    padding: 20px 10px;
    color: #d3d3d3;
    margin-bottom: 40px;
    border-bottom: 3px solid #d3d3d3;
    font-size: 2em;
    font-family: GiloryBlack, serif;
}

.close-window-add_currency {
    color: #d3d3d3;
}


/*___________________________________________*/


.settings-container-tables {
    display: flex;
    justify-content: space-around;
}

.settings-container-table-left {
    width: 40%;
}

.settings-container-table-right {
    width: 40%;
}
.settings-container-table-center {
    width: 40%;
}

.table {
    border: 3px solid white;
    padding: 20px;
    border-radius: 40px;
}

.rows {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid gray;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main {
    margin-bottom: 20px;
}

.notMain {
    margin-bottom: 20px;
}


/*______________________________________________*/

.open-window-add_client {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
}

.open-window-add_client:target {
    display: block;
}

.open-window-change_currency {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
}

.open-window-change_currency:target {
    display: block;
}

.open-window-change_client {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
}

.open-window-change_client:target {
    display: block;
}


.open-window-settings-delete2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
}

.open-window-settings-delete2:target {
    display: block;
}

.open-window-settings-delete1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
}

.open-window-settings-delete1:target {
    display: block;
}

/*-----------------------------------------------
/*___________________________________________*/

.open-window-mod_currency {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
}

.open-window-mod_currency-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 820px;
    padding: 20px 20px;
    background-color: RGB(62, 75, 82);
    display: flex;
    flex-direction: column;
    border-radius: 40px;
}

.close-window-mod_currency {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1.5em;
    font-weight: 600;
    text-decoration: none;
}

.open-window-mod_currency:target {
    display: block;
}


.open-window-mod_currency-input1 {
    border: none;
    background: none;
    color: #d3d3d3;
    text-align: center;
    font-size: 1.5em;
    margin-top: 20px;
    cursor: pointer;
    font-family: GiloryBlack, serif;
}

.open-window-mod_currency-content-container-text {
    color: #d3d3d3;
    font-size: 1.5em;
}

.open-window-mod_currency-input {
    font-size: 1.5em;
    position: relative;
    top: -55px;
    left: 30%;
    margin-top: 20px;
    width: 20%;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 10px;
    background: none;
    border-color: #d3d3d3;
    color: #d3d3d3;
    font-family: GiloryBlack, serif;
}
.open-window-mod_currency-input2 {
    font-size: 1.5em;
    position: relative;
    top: -55px;
    left: 40%;
    margin-top: 20px;
    width: 20%;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 10px;
    background: none;
    border-color: #d3d3d3;
    color: #d3d3d3;
    font-family: GiloryBlack, serif;
}

.open-window-mod_currency-input-option {
    font-family: GiloryBlack, serif;
    color: #d3d3d3;
    background-color: RGB(62, 75, 82);
}


.close-window-mod_currency {
    color: #d3d3d3;
}
.open-window-mod_client {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
}
.open-window-mod_client:target {
    display: block;
}

/*_____________________________________________________
/*___________________________________________*/

