@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css');

*{
    font-family: 'Open Sans', 'sans-serif', 'FontAwesome';
}

#wrapper{
    position: absolute;
    width: 320px;
    left: 50%;
    margin-left: -160px;
    top: 300px;
    margin-top: -75px;
}

/* === Sign in Form === */
#signin {
    height: 90px;
    width: 300px;
    border-radius: 8px;
    position: relative;
}

#signin input:first-of-type{
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
#signin input:last-of-type{
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
#signin  input[type="text"], #signin  input[type="password"], #signin button[type="submit"]{
    background: rgb(28, 30, 33);
    box-shadow: inset -100px -100px 0 rgb(28, 30, 33); /*Prevent yellow autofill color*/
    color: rgb(52, 56, 61);
}
#signin  input[type="text"], #signin  input[type="password"]{
    position: relative;
    display: block;
    width: 280px;
    height: 45px;
    border: 0;
    outline: 0;
    top: -2px;
    padding: 0 0 0 20px;
    font-weight: 700;
}
#signin  input[type="text"]:focus, #signin  input[type="password"]:focus{
    color: rgb(255, 255, 255);
}
#signin button[type="submit"]{
    display: block;
    position: absolute;
    width: 52px;
    height: 52px;
    color: rgb(52, 56, 61);
    border-radius: 50px;
    outline: 0;
    z-index: 2;
    top: 19px;
    right: -24px;
    border: 6px solid rgb(52, 56, 61);
    font-size: 25px;
    text-indent: 0px;
    padding-left: 9px;
    padding-bottom: 3px;
    text-align: center;
}
  button.sozdat{
     background: rgb(28, 30, 33);
    cursor: pointer;
    display: block;
    position: absolute;
    left: 0px;
    width: 300px;
    height: 52px;
    color: rgb(52, 56, 61);
    border-radius: 50px;
    outline: 0;
    z-index: 2;
    top: 150px;
    border: 6px solid rgb(52, 56, 61);
    font-size: 25px;
    text-indent: 0px;
    text-align: center;
}
#signin button[type="submit"]:hover{
    color: rgb(0, 126, 165);
    text-shadow: 0 0 10px rgb(0, 126, 165);
    cursor: pointer;
}
#signin p {
    color: rgb(79, 85, 97);
    padding: 0 20px;
    font-weight: 700;
    font-size: 12px;
    margin: 5px 0 0 0;
}
#signin p > a{
    color: rgb(111, 119, 135);
    text-decoration: none;
}
#signin p > a:hover{
    border-bottom: 1px solid;
}
img {
    height: auto;
    max-width: 40%;
}

#head{
    background: black;
    width: 1920px;
    height: 167px;
    position: fixed;
    z-index: 1000;
    top: -30px;
    left: 0px;
}
.content3{
     margin-top: 200px;
    position: relative;
    bottom: 1;
    background: rgba(0, 0, 0, 0);
    color: transparent;
    width: 100%;
    padding: -10px;
}

#logoname
{
   position: absolute;
        width: 20px;
        height: 50px;
        top: 35px;
        left: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: transparent;
    color: #fff; 
}
#NamePage
{
   position: absolute;
        width: 500px;
        height: 50px;
        top: 35px;
        left: 700px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: transparent;
    color: #fff; 
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
a.buttons {
  width: 150px;
  height: 30px;
  text-decoration: none;
  padding-top: 9px;
  color: #a675b3;
  text-align: center;
  line-height: 20px;
  display: block;
  margin: 20px auto;
  font: normal 17px arial;
}

a.buttons:not(.active) {
  box-shadow: inset 0 1px 1px rgba(111, 55, 125, 0.8), inset 0 -1px 0px rgba(63, 59, 113, 0.2), 0 9px 16px 0 rgba(0, 0, 0, 0.3), 0 4px 3px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px #150a1e;
  background-image: linear-gradient(#3b2751, #271739);
  text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 -1px 0 #311d47;
}

a.buttons:not(.active):hover,
a.buttons:not(.active):focus {
  transition: color 200ms linear, text-shadow 500ms linear;
  color: #fff;
  text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 0 10px rgba(223, 206, 228, 0.4), 0 0 2px #2a153c;
}
a.buttons:not(:hover) {
    transition: 0.6s;
}